[submodule "static/bootstrap-image"]
	path = static/bootstrap-image
	url = https://github.com/blueimp/Bootstrap-Image-Gallery.git
[submodule "static/blueimp_Gallery"]
	path = static/blueimp_Gallery
	url = https://github.com/blueimp/Gallery.git
