<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>

<script src="{{ STATIC_URL }}/blueimp-Gallery/js/blueimp-gallery.min.js"></script>

<script type="text/javascript">
document.getElementById('blueimp_Gallery_links').onclick = function (event) {
	event = event || window.event;
	var target = event.target || event.srcElement,
	    link = target.src ? target.parentNode : target,
	    options = {index: link, event: event},
	    links = this.getElementsByTagName('a');
	blueimp.Gallery(links, options);
};
blueimp.Gallery(
	document.getElementById('blueimp_Gallery_links').getElementsByTagName('a'),
	{ container: '#blueimp-gallery-carousel', carousel: true }
	);
</script>
